@font-face {
    font-family: "sve-card-cn";
    src: url("cn.ttf");
}

@font-face {
    font-family: "sve-card-ja";
    src: url("ja.ttf");
}

@font-face {
    font-family: "sve-card-number";
    src: url("number.ttf");
}
